button{
    margin: 1rem;
    background-color: var(--primary2-color);
    color: var(--primary1-color);
    border-radius: 5px;
    height: 30px;
    width: 120px;
}
button:hover{
    background-color: var(--primary1-color);
    color: var(--primary2-color);
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bussiness-card{
    height: 70vh;
    width: 30vw;
    min-width: 350px;
    background: linear-gradient(to bottom, var(--card-color)  20%, var( --secondary-color) 70%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
table{
    height: 300px;
}
td{
    width: 180px;
}
